.option-selected {
  background-color: #eeeeee !important;
  color: black !important;
  border-left: none !important;
  border-right: none !important;
}
.date-fixed {
  height: 80vh;
}
section {
  background: #eeeeee;
}
.client > .sticky-top {
  top: 90px;
}
#date {
  background-color: #1b1c1c;
  color: #eeeeee;
}
#month {
  border-bottom: 2px solid #777e7e;
}
.box-state {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}
.row-cal {
  margin-bottom: 15px;
  margin-left: 12px;
}
.box-col-cal {
  padding-right: 12px;
  width: 14.2857%;
}
.col-cal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 0;
  padding-bottom: 10px;
  background: #eeeeee;
  color: #1b1c1c;
  border-color: #eeeeee;
}
#cal .btn.disabled {
  cursor: not-allowed;
  opacity: 1;
  background: #eeeeee;
  color: #1b1c1c;
  border-color: #eeeeee;
}
#cal div.btn.selected {
  background-color: purple;
  border-color: purple;
}
#cal div.btn.reservated {
  background-color: #70a3ed;
  border-color: #70a3ed;
}
#cal div.btn.on-hold {
  background: #fcc70f;
  border-color: #fcc70f;
}
#cal > div.row-cal:first-child {
  justify-content: flex-end;
}
#price {
  background-color: #eeeeee;
}

@media only screen and (min-width: 992px) {
  #nav-left {
    display: flex !important;
    max-width: calc((100% - 30px) * 0.25);
    max-width: -webkit-calc((100% - 30px) * 0.25);
    max-width: -moz-calc((100% - 30px) * 0.25);
    height: 100%;
    position: fixed;
    z-index: 1030;
  }
  main > section.col-lg-9 {
    margin-left: auto;
  }
}
.img-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.error-password {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  border: 1px solid red;
}
.error-password:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.success-password {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.4);
  border: 1px solid green;
}
.success-password:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, 0.4);
  border: 1px solid green;
}
